<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Page 30 · %% Location699.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.49547499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>%% Page 31 · %% Location721.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.92653298</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>%% Page 34 · %% Location780.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.59063298</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>%% Page 45 · %% Location1030.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.62199599</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>%% Page 46 · %% Location1059.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.64761198</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>%% Page 50 · %% Location1157.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.70746303</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>%% Page 66 · %% Location1538.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.76508898</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>%% Page 67 · %% Location1553.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.818147</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>%% Page 67 · %% Location1556.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.84534699</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>%% Page 8 · %% Location187.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.52081198</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>By the River.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.56309998</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>First Part.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.89724803</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Govinda.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.73813599</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Second Part.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.16724497</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Siddhartha.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.86796701</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The Ferryman.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.67960501</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>The Son.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.79008597</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>Vocabulary.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.86979902</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>With the Childlike People.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.47094202</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Siddhartha.md</string>
		</array>
		<array>
			<string>First Part.md</string>
		</array>
		<array>
			<string>%% Page 31 · %% Location721.md</string>
		</array>
		<array>
			<string>Second Part.md</string>
		</array>
		<array>
			<string>With the Childlike People.md</string>
		</array>
		<array>
			<string>%% Page 30 · %% Location699.md</string>
		</array>
		<array>
			<string>%% Page 8 · %% Location187.md</string>
		</array>
		<array>
			<string>By the River.md</string>
		</array>
		<array>
			<string>%% Page 34 · %% Location780.md</string>
		</array>
		<array>
			<string>%% Page 45 · %% Location1030.md</string>
		</array>
		<array>
			<string>%% Page 46 · %% Location1059.md</string>
		</array>
		<array>
			<string>The Ferryman.md</string>
		</array>
		<array>
			<string>%% Page 50 · %% Location1157.md</string>
		</array>
		<array>
			<string>Govinda.md</string>
		</array>
		<array>
			<string>%% Page 66 · %% Location1538.md</string>
		</array>
		<array>
			<string>The Son.md</string>
		</array>
		<array>
			<string>%% Page 67 · %% Location1553.md</string>
		</array>
		<array>
			<string>%% Page 67 · %% Location1556.md</string>
		</array>
		<array>
			<string>Vocabulary.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>20</integer>
		</dict>
	</dict>
</dict>
</plist>
