<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Location 1348.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.03416002</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>%% Location 1590.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.08461702</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>1965.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.97232002</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>1966.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.00269502</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>1967.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.05952501</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>1968.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.124982</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>1971.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.14589697</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>1973.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.16721302</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>1980.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.22841799</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Night.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.25020099</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>Part One.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.93649602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Part Two.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.198762</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Shoe Dog- A Memoir by the Creator of Nike.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.89587998</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Vocabulary.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.34849602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Shoe Dog- A Memoir by the Creator of Nike.md</string>
		</array>
		<array>
			<string>Part One.md</string>
		</array>
		<array>
			<string>1965.md</string>
		</array>
		<array>
			<string>1966.md</string>
			<string>%% Location 1348.md</string>
		</array>
		<array>
			<string>1967.md</string>
			<string>%% Location 1590.md</string>
		</array>
		<array>
			<string>1968.md</string>
		</array>
		<array>
			<string>1971.md</string>
		</array>
		<array>
			<string>1973.md</string>
		</array>
		<array>
			<string>Part Two.md</string>
		</array>
		<array>
			<string>1980.md</string>
		</array>
		<array>
			<string>Night.md</string>
		</array>
		<array>
			<string>Vocabulary.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
