<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Bits from Books 2016</string>
		<string>The Greatest Salesman in the World</string>
		<string>Living with a SEAL- 31 Days Training with the Toughest Man on the Planet</string>
		<string>Ego is the Enemy</string>
		<string>So You've Been Publicly Shamed</string>
		<string>Trust Me, I'm Lying- Confessions of a Media Manipulator</string>
		<string>The Obstacle is the Way</string>
		<string>Shoe Dog- A Memoir by the Creator of Nike</string>
		<string>Straight to Hell- True Tales of Deviance, Debauchery, and Billion-Dollar Deals</string>
		<string>Superintelligence- Paths, Dangers, Strategies</string>
		<string>Turning Pro- Tap Your Inner Power and Create Your Life's Work</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>Bits from Books 2016</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.45835799</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Ego is the Enemy</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.24239099</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Living with a SEAL- 31 Days Training with the Toughest Man on the Planet</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.81395602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Shoe Dog- A Memoir by the Creator of Nike</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.88063401</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>So You've Been Publicly Shamed</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.654284</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Straight to Hell- True Tales of Deviance, Debauchery, and Billion-Dollar Deals</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.407363</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Superintelligence- Paths, Dangers, Strategies</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.61258399</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>The Greatest Salesman in the World</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.67469501</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>The Obstacle is the Way</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.38333499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Trust Me, I'm Lying- Confessions of a Media Manipulator</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.18760902</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Turning Pro- Tap Your Inner Power and Create Your Life's Work</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.02619499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>Turning Pro.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.02559501</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>506893844.31129402</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Turning Pro.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Sheets</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>12</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>2</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>6409C83C-634D-453F-99C5-7FC4C2037067</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
