---
layout: default-home
title: Home
---

<div class="home">

	<div class="feature">
	<h2><a href="/about">About</a></h2>
	
	<div class="about">
	<div class="profile">
<img src="http://files.claycarson.net/avatar.jpg">	
	</div>


	<h3>Hi, I'm Clay</h3>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut dapibus leo. Maecenas in lacus fermentum dolor viverra cursus. Curabitur cursus magna eget nisi viverra porta. Donec semper dolor sit amet quam blandit vel pellentesque velit lobortis.
</p>
	</div>
	</div>


	
	<div class="feature">
	<h2><a href="/newsletter">Newsletter</a></h2>
	
	{% for post in site.categories.Newsletter limit:5 %}
	<ul>
	  <li><p><a href="{{ post.url }}">{{ post.title }}</a></p>
	  </li>
	 </ul> 
	{% endfor %}
	

<!-- Begin Mailchimp Signup Form -->
<form action="https://claycarson.us2.list-manage.com/subscribe/post?u=9eab7e3bd7029c1d9db034eaa&amp;id=7bb36508e6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL"></label>
	<input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL">
 <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9eab7e3bd7029c1d9db034eaa_7bb36508e6" tabindex="-1" value=""></div>
<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
<!--End mc_embed_signup-->


	</div>

	<div class="feature">
	<h2><a href="/status">Status</a></h2>

	{% for post in site.categories.Status limit:5 %}
	<ul>
	  <li>
		<p>{{ post.date | date: "%Y-%m-%d" }} » <a href="{{ post.url }}">{{ post.excerpt | strip_html }}</a></p>
	  </li>
	 </ul> 
	{% endfor %}

	</div>

	<div class="feature">
	<h2><a href="/location">Location</a></h2>

	{% for post in site.categories.Location limit:5 %}
	<ul>	
	  <li>
		<p>{{ post.date | date: "%Y-%m-%d" }} » <a href="{{ post.url }}">{{ post.title }}</a></p>
	  </li>
	</ul>	  
	{% endfor %}

	</div>


	<div class="feature">
	<h2><a href="/photo">Photo</a></h2>

	<div class="clearfix">
	{% for post in site.categories.Photo limit:6 %}
	<div class="img-container">
	 <ul><li><a href="{{ post.url }}">{{ post.excerpt }}</a></li></ul>
	</div>
	  
	{% endfor %}
	</div>

	</div>

	<div class="feature">
	<h2><a href="/media">Media</a></h2>

	{% for post in site.categories.Media limit:5 %}
	<ul>	
	  <li>
		<p>{{ post.date | date: "%Y-%m-%d" }} » <a href="{{ post.url }}">{{ post.excerpt | strip_html }}</a></p>
	  </li>
	</ul>
	{% endfor %}

	</div>

	<div class="feature">
	<h2><a href="/link">Link</a></h2>

	{% for post in site.categories.Link limit:5 %}
	<ul>	
	  <li>
		<p>{{ post.date | date: "%Y-%m-%d" }} » <a href="{{ post.url }}">{{ post.title }}</a></p>
	  </li>
	</ul>
	{% endfor %}

	</div>
	
	<div class="feature">
	<h2><a href="/quote">Quote</a></h2>

	{% for post in site.categories.Quote limit:1 %}
	  <a href="{{ post.url }}">
		<p>{{ post.excerpt }}</p>
	  </a>
	{% endfor %}

	</div>

	<div class="feature">
	<h2><a href="/search">Search</a></h2>

		  <form method="get" id="search" action="http://duckduckgo.com/">
  <input type="hidden" name="sites" value="claycarson.net"/>
  <input type="text" name="q" maxlength="255" placeholder="DuckDuckGo"/>
  <input type="submit" value="Search" style="" />
</form>

	</div>


</div>