---
layout: default
---
<div class="home">
	
<div class="feature">
<h2><a href="/newsletter">Newsletter</a></h2>
<span id="newsletter">
{% for post in site.categories.newsletter limit:5 %}
  <li><a href="{{ post.url }}">
    <p>{{ post.title }}</p>
  </a></li>
{% endfor %}

<form class="pure-form"style="border:0px solid #ccc;padding:3px;text-align:left;" action="https://tinyletter.com/claycarson" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/claycarson', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
		<!-- <h4>
			<label for="tlemail">Subscribe</label>
		</h4> -->
		<p>
	        <input type="email" style="width:140px" id="tlemail" placeholder="Email">
			<input type="hidden" value="1" name="embed"/>
	        <button type="submit" class="pure-button pure-button-primary" value="Subscribe">Subscribe
			</button>
		</p>
</form>

</span>
</div>

<div class="feature">
<h2><a href="/status">Status</a></h2>
<span id="status">
{% for post in site.categories.status limit:5 %}
  <li><a href="{{ post.url }}">
    <p>{{ post.date | date: "%Y-%m-%d" }} » {{ post.excerpt | strip_html }}</p>
  </a></li>
{% endfor %}
</span>
</div>

<div class="feature">
<h2><a href="/location">Location</a></h2>
<span id="status">
{% for post in site.categories.location limit:5 %}
  <li><a href="{{ post.url }}">
    <p>{{ post.date | date: "%Y-%m-%d" }} » {{ post.title | strip_html }}</p>
  </a></li>
{% endfor %}
</span>
</div>

<div class="feature">
<h2><a href="/photo">Photo</a></h2>
<span id="photo">
<div class="clearfix">
{% for post in site.categories.photo limit:3 %}
  <a href="{{ post.url }}">
		<div class="img-container">
			<li><p> {{ post.excerpt }} </p></li>
		</div>
  </a>
{% endfor %}
</div>
</span>
</div>

<div class="feature">
<h2><a href="/link">Link</a></h2>
<span id="link">
{% for post in site.categories.link limit:5 %}
  <li><a href="{{ post.url }}">
    <p>{{ post.date | date: "%Y-%m-%d" }} » {{ post.title }}</p>
  </a></li>
{% endfor %}
</span>
</div>

</div>