---
layout: default
---
<div class="well">
<!-- <form class="pure-form"style="border:0px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/claycarson" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/claycarson', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
		<h3>
			<label for="tlemail">Subscribe or Browse</label>
		</h3>
		<p>
	        <input type="email" style="width:140px" id="tlemail" placeholder="Email">
		</p>
			<input type="hidden" value="1" name="embed"/>

	        <button type="submit" class="pure-button pure-button-primary" value="Subscribe">Subscribe
			</button>
</form> -->

<div class="feature">
<a href="/newsletter"><h2>Newsletter</h2></a>

{% for post in site.categories.Newsletter limit:5 %}
  <li><a href="{{ post.url }}">
    <p>{{ post.title }}</p>
  </a></li>
{% endfor %}
</div>

<div class="feature">
<a href="/status"><h2>Status</h2></a>

{% for post in site.categories.Status limit:5 %}
  <li><a href="{{ post.url }}">
    <p>{{ post.date | date_to_string }} » {{ post.excerpt | strip_html }}</p>
  </a></li>
{% endfor %}
</div>

<div class="feature">
<a href="/location"><h2>Location</h2></a>

{% for post in site.categories.Location limit:5 %}
  <li><a href="{{ post.url }}">
    <p>{{ post.date | date_to_string }} » {{ post.title }}</p>
  </a></li>
{% endfor %}
</div>

<div class="feature">
<a href="/photo"><h2>Photo</h2></a>

{% for post in site.categories.Photo limit:3 %}
	<a href="{{ post.url }}">
  	  <p>{{ post.excerpt }}</p>
  	</a>
{% endfor %}
</div>

<div class="feature">
<a href="/media"><h2>Media</h2></a>

{% for post in site.categories.Media limit:5 %}
  <li><a href="{{ post.url }}">
    <p>{{ post.date | date_to_string }} » {{ post.category }} » {{ post.title }}</p>
  </a></li>
{% endfor %}
</div>

<div class="feature">
<a href="/link"><h2>Link</h2></a>

{% for post in site.categories.link limit:5 %}
  <li><a href="{{ post.url }}">
    <p>{{ post.date | date_to_string }} » {{ post.title }}</p>
  </a></li>
{% endfor %}
</div>

</div>
