<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%%Location 518.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.73149002</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>%%Location 631.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.79832703</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>%%Location 686.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.82254201</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>%%Location 728.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.84297001</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Great expectations.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.670084</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Opinions about the future of machine intelligence.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.86383301</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Seasons of hope and despair.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.70055801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>State of the art.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.76784903</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Superintelligence- Paths, Dangers, Strategies.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.625269</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Vocabulary.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.00677598</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Superintelligence- Paths, Dangers, Strategies.md</string>
		</array>
		<array>
			<string>Great expectations.md</string>
		</array>
		<array>
			<string>Seasons of hope and despair.md</string>
			<string>%%Location 518.md</string>
		</array>
		<array>
			<string>State of the art.md</string>
			<string>%%Location 631.md</string>
			<string>%%Location 686.md</string>
			<string>%%Location 728.md</string>
		</array>
		<array>
			<string>Opinions about the future of machine intelligence.md</string>
		</array>
		<array>
			<string>Vocabulary.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>11</integer>
		</dict>
	</dict>
</dict>
</plist>
