<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Page 103 · %% Location1042.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.36426002</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>%% Page 103 · %% Location1051.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.33854002</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>%% Page 103 · %% Location1070.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.50672603</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>%% Page 106 · %% Location1077.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.43898797</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>%% Page 107 · %% Location1097.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.41595101</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>%% Page 109 · %% Location1112.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.53368503</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>%% Page 122 · %% Location1227.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.59283298</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>%% Page 125 · %% Location1271.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.56680101</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>%% Page 183 · %% Location1871.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.64797097</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>%% Page 191 · %% Location1975.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.82705599</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>%% Page 211 · %% Location2224.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.79878497</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>%% Page 32 · %% Location304.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.85061997</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>%% Page 37 · %% Location350.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.06095302</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>%% Page 41 · %% Location396.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.02628398</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>%% Page 47 · %% Location454.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.96567202</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>%% Page 50 · %% Location495.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.903579</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>%% Page 50 · %% Location500.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.99855798</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>%% Page 50 · %% Location506.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.08532</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>%% Page 8 · %% Location90.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.70103103</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>%% Page 8 · %% Location93.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.87958598</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>%% Page 80 · %% Location828.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.16939199</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>%% Page 89 · %% Location948.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.25696701</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>%% Page 89 · %% Location967.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.31156802</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>1. The ONE Thing.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.64638197</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>11. The Success Habit.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.46924597</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>12. The Path to Great Answers.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.389328</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>14. Live by Priority.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.750341</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>15. Live for Productivity.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.624578</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>16. The Three Commitments.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.67671102</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>17. The Four Thieves.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.86830801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>18. The Journey.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.93623197</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>2. The Domino Effect.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.77795303</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>3. Success Leaves Clues.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.74473602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>5. Multitasking.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.93941897</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>6. A Disciplined Life.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.117459</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>7. Willpower Is Always on Will-Call.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.19478202</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>8. A Balanced Life.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.14475602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>9. Big Is Bad.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.28513902</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>Part 1- The Lies.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.80907202</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Part 2- The Truth.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.22452402</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>Part 3- Extraordinary Results.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.716066</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>The ONE Thing- The Surprisingly Simple Truth Behind Extraordinary Results.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.47225702</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>The ONE Thing- The Surprisingly Simple Truth Behind Extraordinary Results.md</string>
		</array>
		<array>
			<string>1. The ONE Thing.md</string>
		</array>
		<array>
			<string>%% Page 8 · %% Location90.md</string>
		</array>
		<array>
			<string>3. Success Leaves Clues.md</string>
		</array>
		<array>
			<string>2. The Domino Effect.md</string>
		</array>
		<array>
			<string>Part 1- The Lies.md</string>
		</array>
		<array>
			<string>%% Page 32 · %% Location304.md</string>
		</array>
		<array>
			<string>%% Page 8 · %% Location93.md</string>
		</array>
		<array>
			<string>%% Page 50 · %% Location495.md</string>
		</array>
		<array>
			<string>5. Multitasking.md</string>
		</array>
		<array>
			<string>%% Page 47 · %% Location454.md</string>
		</array>
		<array>
			<string>%% Page 50 · %% Location500.md</string>
		</array>
		<array>
			<string>%% Page 41 · %% Location396.md</string>
		</array>
		<array>
			<string>%% Page 37 · %% Location350.md</string>
		</array>
		<array>
			<string>%% Page 50 · %% Location506.md</string>
		</array>
		<array>
			<string>6. A Disciplined Life.md</string>
		</array>
		<array>
			<string>8. A Balanced Life.md</string>
		</array>
		<array>
			<string>%% Page 80 · %% Location828.md</string>
		</array>
		<array>
			<string>7. Willpower Is Always on Will-Call.md</string>
		</array>
		<array>
			<string>Part 2- The Truth.md</string>
		</array>
		<array>
			<string>%% Page 89 · %% Location948.md</string>
		</array>
		<array>
			<string>9. Big Is Bad.md</string>
		</array>
		<array>
			<string>%% Page 89 · %% Location967.md</string>
		</array>
		<array>
			<string>%% Page 103 · %% Location1051.md</string>
		</array>
		<array>
			<string>%% Page 103 · %% Location1042.md</string>
		</array>
		<array>
			<string>12. The Path to Great Answers.md</string>
		</array>
		<array>
			<string>%% Page 107 · %% Location1097.md</string>
		</array>
		<array>
			<string>%% Page 106 · %% Location1077.md</string>
		</array>
		<array>
			<string>11. The Success Habit.md</string>
		</array>
		<array>
			<string>%% Page 103 · %% Location1070.md</string>
		</array>
		<array>
			<string>%% Page 109 · %% Location1112.md</string>
		</array>
		<array>
			<string>%% Page 125 · %% Location1271.md</string>
		</array>
		<array>
			<string>%% Page 122 · %% Location1227.md</string>
		</array>
		<array>
			<string>15. Live for Productivity.md</string>
		</array>
		<array>
			<string>%% Page 183 · %% Location1871.md</string>
		</array>
		<array>
			<string>16. The Three Commitments.md</string>
		</array>
		<array>
			<string>Part 3- Extraordinary Results.md</string>
		</array>
		<array>
			<string>14. Live by Priority.md</string>
		</array>
		<array>
			<string>%% Page 211 · %% Location2224.md</string>
		</array>
		<array>
			<string>%% Page 191 · %% Location1975.md</string>
		</array>
		<array>
			<string>17. The Four Thieves.md</string>
		</array>
		<array>
			<string>18. The Journey.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>43</integer>
		</dict>
	</dict>
</dict>
</plist>
