<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Page 255 · Location 2871.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.04010499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>%% Page 32 · Location 369.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.74116498</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>%% Page 60 · Location 713.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.83225501</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Eight - The Shame-Eradication Workshop.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.89701301</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Eleven - The Man Who Can Change the Google Search Results.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.96490097</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Fifteen - Your Speed.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.09642398</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>Four - God That Was Awesome.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.86541599</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Fourteen - Cats and Ice Cream and Music.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.06808197</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Nine - A Town Abuzz over Prostitution and a Client List.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.93598199</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>So You've Been Publicly Shamed.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.674438</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Thirteen - Raquel in a Post-Shaming World.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.00090402</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>Three - The Wilderness.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.79767901</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Two - I’m Glad I’m Not That.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.70435202</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Vocabulary.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.15135902</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>So You've Been Publicly Shamed.md</string>
		</array>
		<array>
			<string>Two - I’m Glad I’m Not That.md</string>
			<string>%% Page 32 · Location 369.md</string>
		</array>
		<array>
			<string>Three - The Wilderness.md</string>
			<string>%% Page 60 · Location 713.md</string>
		</array>
		<array>
			<string>Four - God That Was Awesome.md</string>
		</array>
		<array>
			<string>Eight - The Shame-Eradication Workshop.md</string>
		</array>
		<array>
			<string>Nine - A Town Abuzz over Prostitution and a Client List.md</string>
		</array>
		<array>
			<string>Eleven - The Man Who Can Change the Google Search Results.md</string>
		</array>
		<array>
			<string>Thirteen - Raquel in a Post-Shaming World.md</string>
			<string>%% Page 255 · Location 2871.md</string>
		</array>
		<array>
			<string>Fourteen - Cats and Ice Cream and Music.md</string>
		</array>
		<array>
			<string>Fifteen - Your Speed.md</string>
		</array>
		<array>
			<string>Vocabulary.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
