<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Page 10 · Location 265.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.265522</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>%% Page 11 · Location 277.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.41664499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>%% Page 140 · Location 1900.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.08367902</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>%% Page 151 · Location 2032.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.139382</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>%% Page 156 · Location 2106.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.19405502</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>%% Page 158 · Location 2124.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.25167102</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>%% Page 168 · Location 2247.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.30679101</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>%% Page 175 · Location 2330.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.22289801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>%% Page 175 · Location 2333.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.35635799</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>%% Page 177 · Location 2364.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.38029897</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>48</integer>
				</dict>
			</dict>
			<key>%% Page 208 · Location 2741.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.97463202</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>%% Page 34 · Location 561.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.37117398</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>%% Page 35 · Location 573.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.45270997</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>%% Page 40 · Location 637.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.435224</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>%% Page 61 · Location 909.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.58534801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>%% Page 79 · Location 1134.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.77205199</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>%% Page 83 · Location 1185.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.72924298</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>%% Page 85 · Location 1208.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.74778998</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>%% Page 9 · Location 253.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.21773499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>%% Page 91 · Location 1285.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.85711801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>%% Page 94 · Location 1329.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.92211801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>%% Page 95 · Location 1338.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.83897501</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>B-b-b-but, If I’m Not Going to Be Special or Extraordinary, What’s the Point.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.52570701</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Boundaries.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.332618</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>Chapter 1- Don’t Try.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.244573</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Chapter 5- You Are Always Choosing.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.79449999</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>Chapter 8- The Importance of Saying No.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.28131002</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>Choose Your Struggle.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.55436403</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>Defining Good and Bad Values.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.81818402</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>Emotions Are Overrated.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.30554599</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Happiness Comes from Solving Problems.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.35221702</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Kill Yourself.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.03104401</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>Manson’s Law of Avoidance.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.05784702</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>Pain Is Part of the Process.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.11372</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>Rock Star Problems.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.65970802</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>Shitty Values.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.618397</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>So Mark, What the Fuck Is the Point of This Book Anyway.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.397241</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>The Choice.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.87776101</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>The Failure-Success Paradox.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.16821599</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>The Feedback Loop from Hell.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.28498298</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>The Responsibility-Fault Fallacy.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.94563401</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>The Self-Awareness Onion.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.68897003</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>The Subtle Art of Not Giving a Fuck- A Counterintuitive Approach to Living a Good Life.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.16762602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The Subtle Art of Not Giving a Fuck.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.32565802</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>The Sunny Side of Death.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.40822202</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>There Is No “How”.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.00368601</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>Things Fall Apart.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.48593199</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Victimhood Chic.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.89913499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>Vocabulary.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.43532801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>50</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>The Subtle Art of Not Giving a Fuck- A Counterintuitive Approach to Living a Good Life.md</string>
		</array>
		<array>
			<string>%% Page 9 · Location 253.md</string>
		</array>
		<array>
			<string>Chapter 1- Don’t Try.md</string>
		</array>
		<array>
			<string>%% Page 10 · Location 265.md</string>
		</array>
		<array>
			<string>The Feedback Loop from Hell.md</string>
		</array>
		<array>
			<string>Emotions Are Overrated.md</string>
		</array>
		<array>
			<string>The Subtle Art of Not Giving a Fuck.md</string>
		</array>
		<array>
			<string>Happiness Comes from Solving Problems.md</string>
		</array>
		<array>
			<string>%% Page 34 · Location 561.md</string>
		</array>
		<array>
			<string>So Mark, What the Fuck Is the Point of This Book Anyway.md</string>
		</array>
		<array>
			<string>%% Page 11 · Location 277.md</string>
		</array>
		<array>
			<string>%% Page 40 · Location 637.md</string>
		</array>
		<array>
			<string>%% Page 35 · Location 573.md</string>
		</array>
		<array>
			<string>Things Fall Apart.md</string>
		</array>
		<array>
			<string>B-b-b-but, If I’m Not Going to Be Special or Extraordinary, What’s the Point.md</string>
		</array>
		<array>
			<string>Choose Your Struggle.md</string>
		</array>
		<array>
			<string>%% Page 61 · Location 909.md</string>
		</array>
		<array>
			<string>Shitty Values.md</string>
		</array>
		<array>
			<string>Rock Star Problems.md</string>
		</array>
		<array>
			<string>The Self-Awareness Onion.md</string>
		</array>
		<array>
			<string>%% Page 83 · Location 1185.md</string>
		</array>
		<array>
			<string>%% Page 85 · Location 1208.md</string>
		</array>
		<array>
			<string>%% Page 79 · Location 1134.md</string>
		</array>
		<array>
			<string>Chapter 5- You Are Always Choosing.md</string>
		</array>
		<array>
			<string>Defining Good and Bad Values.md</string>
		</array>
		<array>
			<string>%% Page 95 · Location 1338.md</string>
		</array>
		<array>
			<string>%% Page 91 · Location 1285.md</string>
		</array>
		<array>
			<string>The Choice.md</string>
		</array>
		<array>
			<string>Victimhood Chic.md</string>
		</array>
		<array>
			<string>%% Page 94 · Location 1329.md</string>
		</array>
		<array>
			<string>The Responsibility-Fault Fallacy.md</string>
		</array>
		<array>
			<string>%% Page 208 · Location 2741.md</string>
		</array>
		<array>
			<string>There Is No “How”.md</string>
		</array>
		<array>
			<string>Kill Yourself.md</string>
		</array>
		<array>
			<string>Manson’s Law of Avoidance.md</string>
		</array>
		<array>
			<string>%% Page 140 · Location 1900.md</string>
		</array>
		<array>
			<string>Pain Is Part of the Process.md</string>
		</array>
		<array>
			<string>%% Page 151 · Location 2032.md</string>
		</array>
		<array>
			<string>The Failure-Success Paradox.md</string>
		</array>
		<array>
			<string>%% Page 156 · Location 2106.md</string>
		</array>
		<array>
			<string>%% Page 175 · Location 2330.md</string>
		</array>
		<array>
			<string>%% Page 158 · Location 2124.md</string>
		</array>
		<array>
			<string>Chapter 8- The Importance of Saying No.md</string>
		</array>
		<array>
			<string>%% Page 168 · Location 2247.md</string>
		</array>
		<array>
			<string>Boundaries.md</string>
		</array>
		<array>
			<string>%% Page 175 · Location 2333.md</string>
		</array>
		<array>
			<string>%% Page 177 · Location 2364.md</string>
		</array>
		<array>
			<string>The Sunny Side of Death.md</string>
		</array>
		<array>
			<string>Vocabulary.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>50</integer>
		</dict>
	</dict>
</dict>
</plist>
