<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Page 179 · Location 2099.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.80691999</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>%% Page 180 · Location 2115.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.83234501</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>%% Page 38 · Location 551.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.60505003</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>%% Page 9 · Location 223.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.51159</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>ALTER YOUR PERSPECTIVE.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.58246303</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>BUILD YOUR INNER CITADEL.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.76678801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>CHANNEL YOUR ENERGY.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.70753098</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Final Thoughts- The Obstacle Becomes the Way.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.78839099</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>IS IT UP TO YOU.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.62793499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Introduction.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.471955</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>PART I- PERCEPTION.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.54018098</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>PART II- ACTION.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.65199399</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>PART III- WILL.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.74511999</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>PRACTICE OBJECTIVITY.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.56053299</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Preface.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.43200499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>The Obstacle Is the Way- The Timeless Art of Turning Trials into Triumph.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.397717</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>USE OBSTACLES AGAINST THEMSELVES.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.68305701</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Vocabulary.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.85628301</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>19</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>The Obstacle Is the Way- The Timeless Art of Turning Trials into Triumph.md</string>
		</array>
		<array>
			<string>Preface.md</string>
		</array>
		<array>
			<string>Introduction.md</string>
			<string>%% Page 9 · Location 223.md</string>
		</array>
		<array>
			<string>PART I- PERCEPTION.md</string>
		</array>
		<array>
			<string>PRACTICE OBJECTIVITY.md</string>
		</array>
		<array>
			<string>ALTER YOUR PERSPECTIVE.md</string>
			<string>%% Page 38 · Location 551.md</string>
		</array>
		<array>
			<string>IS IT UP TO YOU.md</string>
		</array>
		<array>
			<string>PART II- ACTION.md</string>
		</array>
		<array>
			<string>USE OBSTACLES AGAINST THEMSELVES.md</string>
		</array>
		<array>
			<string>CHANNEL YOUR ENERGY.md</string>
		</array>
		<array>
			<string>PART III- WILL.md</string>
		</array>
		<array>
			<string>BUILD YOUR INNER CITADEL.md</string>
		</array>
		<array>
			<string>Final Thoughts- The Obstacle Becomes the Way.md</string>
			<string>%% Page 179 · Location 2099.md</string>
			<string>%% Page 180 · Location 2115.md</string>
		</array>
		<array>
			<string>Vocabulary.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>19</integer>
		</dict>
	</dict>
</dict>
</plist>
