<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Location1359.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.319727</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>%% Location1836.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.56671298</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>%% Location1850.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.59004301</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>%% Location1855.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.73399198</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>%% Location2558.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.70060903</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>%% Location2954.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.87287402</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>%% Location3003.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.95136899</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>%% Location3401.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.02448499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>%% Location3456.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.05592602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>%% Location3460.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.08068901</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>%% Location3515.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.13704097</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>%% Location3563.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.19014001</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>%% Location3813.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.30538398</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>%% Location3823.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.41373599</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>%% Location3862.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.35300398</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>%% Location4200.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.32890099</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>%% Location4347.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.513457</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>%% Location4443.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.67747498</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>48</integer>
				</dict>
			</dict>
			<key>%% Location5035.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.84723002</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>%% Location5648.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.77968001</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>%% Location5923.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.14556003</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>59</integer>
				</dict>
			</dict>
			<key>%% Location634.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.29224902</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>%% Location6450.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.01457298</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>%% Location6715.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.20514899</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>61</integer>
				</dict>
			</dict>
			<key>%% Location6744.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.17579401</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>%% Location7000.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.238006</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>62</integer>
				</dict>
			</dict>
			<key>%% Location7074.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.606112</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>%% Location7077.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.57709998</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>66</integer>
				</dict>
			</dict>
			<key>%% Location7118.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.48491001</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>64</integer>
				</dict>
			</dict>
			<key>%% Location7186.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.69772202</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>70</integer>
				</dict>
			</dict>
			<key>%% Location7190.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.73912102</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>%% Location8095.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.85626298</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>%% Location8102.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.76563299</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>72</integer>
				</dict>
			</dict>
			<key>%% Location8130.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.00690401</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>80</integer>
				</dict>
			</dict>
			<key>%% Location8271.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.92843801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>77</integer>
				</dict>
			</dict>
			<key>%% Location9278.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.11179501</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>83</integer>
				</dict>
			</dict>
			<key>%% Location9326.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.23688197</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>84</integer>
				</dict>
			</dict>
			<key>%% Location9335.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.500911</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>90</integer>
				</dict>
			</dict>
			<key>%% Location9337.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.42385298</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>%% Location9338.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.34574097</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>%% Location9793.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.78558999</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>94</integer>
				</dict>
			</dict>
			<key>1,000 True Fans—Revisited.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.752132</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>5 Morning Rituals that Help Me Win the Day.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.79257703</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>Alain de Botton.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.06612998</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>82</integer>
				</dict>
			</dict>
			<key>Alex Blumberg.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.88188201</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>54</integer>
				</dict>
			</dict>
			<key>Alexis Ohanian.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.16023302</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>Amanda Palmer.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.31680799</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>86</integer>
				</dict>
			</dict>
			<key>BJ Miller.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.433402</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>63</integer>
				</dict>
			</dict>
			<key>Chase Jarvis.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.543688</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>Chris Sacca.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.92368001</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>Chris Young.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.71126598</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>Christopher Sommer.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.26563901</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Coach Sommer—The Single Decision.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.53816301</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Daymond John.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.812769</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>Deconstructing Sports and Skills with Questions.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.35285503</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Derek Sivers.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.11351001</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>Dominic D’Agostino.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.38401401</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Glenn Beck.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.38374603</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>88</integer>
				</dict>
			</dict>
			<key>How to Create a Real-World MBA.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.57259399</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>How to Say “No” When It Matters Most.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.11505598</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>58</integer>
				</dict>
			</dict>
			<key>Is This What I So Feared.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.98168701</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>79</integer>
				</dict>
			</dict>
			<key>James Altucher.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.64140397</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>Jane McGonigal.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.61839598</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Jocko Willink.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.63761902</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>68</integer>
				</dict>
			</dict>
			<key>Joe De Sena.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.40884697</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Josh Waitzkin.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.53047103</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>91</integer>
				</dict>
			</dict>
			<key>Kevin Kelly.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.88634801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>76</integer>
				</dict>
			</dict>
			<key>Lazy- A Manifesto.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.27773303</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>85</integer>
				</dict>
			</dict>
			<key>Marc Andreessen.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.98258603</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>Maria Popova.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.53972101</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>65</integer>
				</dict>
			</dict>
			<key>My Favorite Thought Exercise- Fear-Setting.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.82668197</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>74</integer>
				</dict>
			</dict>
			<key>Naval Ravikant.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.03394997</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>Paul Levesque (Triple H).md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.67173398</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>Pavel Tsatsouline.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.50709999</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Peter Attia.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.44813001</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>Peter Diamandis.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.08445299</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>57</integer>
				</dict>
			</dict>
			<key>Peter Thiel.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.37862498</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>Read This First—How to Use This Book.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.23749399</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Recommendations.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.13151401</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Sam Harris.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.79172498</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>73</integer>
				</dict>
			</dict>
			<key>Seth Godin.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.48608601</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>Testing the “Impossible”- 17 Questions that Changed My Life.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.57440799</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>92</integer>
				</dict>
			</dict>
			<key>The Canvas Strategy.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.05630898</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>56</integer>
				</dict>
			</dict>
			<key>The Dickens Process—What Are Your Beliefs Costing You.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.66571599</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>69</integer>
				</dict>
			</dict>
			<key>The Law of Category.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.60414302</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>The Most Gifted and Recommended Books of All Guests.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.63614899</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>Three Tips from a Google Pioneer.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.84382302</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>Tony Robbins.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.26520002</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>Tools of Titans- The Tactics, Routines, and Habits of Billionaires, Icons, and World-Class.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.98775899</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>What My Morning Journal Looks Like.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.45880997</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>Whitney Cummings (page 477) told me something similar, on big standup specials- “My work isn’t.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.64298302</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>Whitney Cummings.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.95633</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>78</integer>
				</dict>
			</dict>
			<key>“Good”.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675771.823246</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>95</integer>
				</dict>
			</dict>
			<key>“Productivity” Tricks for the Neurotic, Manic-Depressive, and Crazy (Like Me).md</key>
			<dict>
				<key>lastModification</key>
				<real>528675769.22863501</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>34</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Tools of Titans- The Tactics, Routines, and Habits of Billionaires, Icons, and World-Class.md</string>
		</array>
		<array>
			<string>Recommendations.md</string>
		</array>
		<array>
			<string>Read This First—How to Use This Book.md</string>
		</array>
		<array>
			<string>Christopher Sommer.md</string>
		</array>
		<array>
			<string>%% Location634.md</string>
		</array>
		<array>
			<string>%% Location1359.md</string>
		</array>
		<array>
			<string>Deconstructing Sports and Skills with Questions.md</string>
		</array>
		<array>
			<string>Dominic D’Agostino.md</string>
		</array>
		<array>
			<string>Joe De Sena.md</string>
		</array>
		<array>
			<string>Peter Attia.md</string>
		</array>
		<array>
			<string>Pavel Tsatsouline.md</string>
		</array>
		<array>
			<string>Coach Sommer—The Single Decision.md</string>
		</array>
		<array>
			<string>%% Location1836.md</string>
		</array>
		<array>
			<string>%% Location1850.md</string>
		</array>
		<array>
			<string>Jane McGonigal.md</string>
		</array>
		<array>
			<string>Whitney Cummings (page 477) told me something similar, on big standup specials- “My work isn’t.md</string>
		</array>
		<array>
			<string>Paul Levesque (Triple H).md</string>
		</array>
		<array>
			<string>%% Location2558.md</string>
		</array>
		<array>
			<string>%% Location1855.md</string>
		</array>
		<array>
			<string>5 Morning Rituals that Help Me Win the Day.md</string>
		</array>
		<array>
			<string>Three Tips from a Google Pioneer.md</string>
		</array>
		<array>
			<string>%% Location2954.md</string>
		</array>
		<array>
			<string>Chris Sacca.md</string>
		</array>
		<array>
			<string>%% Location3003.md</string>
		</array>
		<array>
			<string>Marc Andreessen.md</string>
		</array>
		<array>
			<string>%% Location3401.md</string>
		</array>
		<array>
			<string>%% Location3456.md</string>
		</array>
		<array>
			<string>%% Location3460.md</string>
		</array>
		<array>
			<string>Derek Sivers.md</string>
		</array>
		<array>
			<string>%% Location3515.md</string>
		</array>
		<array>
			<string>Alexis Ohanian.md</string>
		</array>
		<array>
			<string>%% Location3563.md</string>
		</array>
		<array>
			<string>“Productivity” Tricks for the Neurotic, Manic-Depressive, and Crazy (Like Me).md</string>
		</array>
		<array>
			<string>Tony Robbins.md</string>
		</array>
		<array>
			<string>%% Location3813.md</string>
		</array>
		<array>
			<string>%% Location4200.md</string>
		</array>
		<array>
			<string>%% Location3862.md</string>
		</array>
		<array>
			<string>Peter Thiel.md</string>
		</array>
		<array>
			<string>%% Location3823.md</string>
		</array>
		<array>
			<string>What My Morning Journal Looks Like.md</string>
		</array>
		<array>
			<string>Seth Godin.md</string>
		</array>
		<array>
			<string>%% Location4347.md</string>
		</array>
		<array>
			<string>Chase Jarvis.md</string>
		</array>
		<array>
			<string>How to Create a Real-World MBA.md</string>
		</array>
		<array>
			<string>The Law of Category.md</string>
		</array>
		<array>
			<string>James Altucher.md</string>
		</array>
		<array>
			<string>%% Location4443.md</string>
		</array>
		<array>
			<string>Chris Young.md</string>
		</array>
		<array>
			<string>1,000 True Fans—Revisited.md</string>
		</array>
		<array>
			<string>%% Location5648.md</string>
		</array>
		<array>
			<string>Daymond John.md</string>
		</array>
		<array>
			<string>%% Location5035.md</string>
		</array>
		<array>
			<string>Alex Blumberg.md</string>
		</array>
		<array>
			<string>%% Location6450.md</string>
		</array>
		<array>
			<string>The Canvas Strategy.md</string>
		</array>
		<array>
			<string>Peter Diamandis.md</string>
		</array>
		<array>
			<string>How to Say “No” When It Matters Most.md</string>
		</array>
		<array>
			<string>%% Location5923.md</string>
		</array>
		<array>
			<string>%% Location6744.md</string>
		</array>
		<array>
			<string>%% Location6715.md</string>
		</array>
		<array>
			<string>%% Location7000.md</string>
		</array>
		<array>
			<string>BJ Miller.md</string>
		</array>
		<array>
			<string>%% Location7118.md</string>
		</array>
		<array>
			<string>Maria Popova.md</string>
		</array>
		<array>
			<string>%% Location7077.md</string>
		</array>
		<array>
			<string>%% Location7074.md</string>
		</array>
		<array>
			<string>Jocko Willink.md</string>
		</array>
		<array>
			<string>The Dickens Process—What Are Your Beliefs Costing You.md</string>
		</array>
		<array>
			<string>%% Location7186.md</string>
		</array>
		<array>
			<string>%% Location7190.md</string>
		</array>
		<array>
			<string>%% Location8102.md</string>
		</array>
		<array>
			<string>Sam Harris.md</string>
		</array>
		<array>
			<string>My Favorite Thought Exercise- Fear-Setting.md</string>
		</array>
		<array>
			<string>%% Location8095.md</string>
		</array>
		<array>
			<string>Kevin Kelly.md</string>
		</array>
		<array>
			<string>%% Location8271.md</string>
		</array>
		<array>
			<string>Whitney Cummings.md</string>
		</array>
		<array>
			<string>Is This What I So Feared.md</string>
		</array>
		<array>
			<string>%% Location8130.md</string>
		</array>
		<array>
			<string>Naval Ravikant.md</string>
		</array>
		<array>
			<string>Alain de Botton.md</string>
		</array>
		<array>
			<string>%% Location9278.md</string>
		</array>
		<array>
			<string>%% Location9326.md</string>
		</array>
		<array>
			<string>Lazy- A Manifesto.md</string>
		</array>
		<array>
			<string>Amanda Palmer.md</string>
		</array>
		<array>
			<string>%% Location9338.md</string>
		</array>
		<array>
			<string>Glenn Beck.md</string>
		</array>
		<array>
			<string>%% Location9337.md</string>
		</array>
		<array>
			<string>%% Location9335.md</string>
		</array>
		<array>
			<string>Josh Waitzkin.md</string>
		</array>
		<array>
			<string>Testing the “Impossible”- 17 Questions that Changed My Life.md</string>
		</array>
		<array>
			<string>The Most Gifted and Recommended Books of All Guests.md</string>
		</array>
		<array>
			<string>%% Location9793.md</string>
		</array>
		<array>
			<string>“Good”.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>95</integer>
		</dict>
	</dict>
</dict>
</plist>
