// Custom for Clay
//
// Mostly controls home page index.html

// Title size

.masthead h1 {
	font-size: 3rem;
}
.masthead ul {
	padding: 0;
}
.masthead li {
	list-style: none;
	display: inline;
	padding: 1rem 3rem 1rem 0;
}

.masthead a {
	color: #2a2f35;
}

.masthead a:hover {
	color: #D6534B;
}

// Home page feature sections

.home .feature {
	border-top: 4px solid #2a2f35;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

// Home page feature links
.home .feature a {
  color: #2a2f35;
  list-style: none;
  text-decoration: none;
  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
	  color: #D6534B;
  }

  strong {
    color: inherit;
  }
}

.home .feature h2 a {
	font-size: 2rem;
}

.feature li a {
	border-bottom: none;
	list-style: none;
	}

// Home page photo feature
* {
	box-sizing: border-box;
}
.img-container {
 	float: left;
	width: 33%;
	height: auto;
	padding-right: 0rem;
	list-style: none;
	overflow: hidden;
}

.img-container li {
	list-style: none;
}

.img-container img {
    // position:relative;
    left:0;
    top:0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	border-radius: 2px;
}

.img-container img:hover {
    -webkit-transform:scale(1.02); /* Safari and Chrome */
    -moz-transform:scale(1.02); /* Firefox */
    -ms-transform:scale(1.02); /* IE 9 */
    -o-transform:scale(1.02); /* Opera */
     transform:scale(1.02);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	border-radius: 2px;
}

.clearfix::after {
	content: "";
	clear: left;
	display: table;
}
.feature-photo img:hover {}

cite {

	}

a:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    }
    
.profile img {
	height: 100px;
	width: auto;
	border-radius: 50%;
	display: inline-block;
	float: left;
}

.about {
	display: inline-block;
}

.about p, .about h3 {
	margin-left: 8rem;
}
