input[type=text], input[type=email] {
  background-color: #f8f8f8;
  padding: 6px 14px;
  margin: 4px 2px;
  border: 1px solid #222;
  text-decoration: none;
  font-family: 'ia_writer_duospaceregular', Helvetica, arial, sans-serif;
  font-size: 14px;
  width: 35%;
}
	
input[type=button], input[type=submit], input[type=reset] {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
  padding: 6px 14px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'ia_writer_duospaceregular', Helvetica, arial, sans-serif;
    font-size: 14px;
    width: 20%;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #cb3816;
  border: 1px solid #cb3816;
  color: #fff;
  padding: 6px 14px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'ia_writer_duospaceregular', Helvetica, arial, sans-serif;
    font-size: 14px;
  width: 20%;
}