$gray-1: #f1f1f1;
$gray-2: #ccc;
$gray-3: #888;
$gray-4: #666;
$gray-5: #2a2f35;

$red: #d6534b;
$white: #fff;
//$orange: #eB8140;
//$yellow: #f4bf75;
//$green: #90a959;
//$teal: #75b5aa;
//$blue: #607d98;
//$brown: #8f5536;

// 'ia_writer_duospaceregular', 
// 
// @font-face {
// 	font-family: ia_writer_duospacebold;
// 	src: url(http://claycarson.net/fonts/ia_writer/iawriterduospace-bold-webfont.woff2) format("woff2"), url(http://claycarson.net/fonts/ia_writer/iawriterduospace-bold-webfont.woff) format("woff");
// 	font-weight: 600;
// 	font-style: normal
// }
// @font-face {
// 	font-family: ia_writer_duospacebolditalic;
// 	src: url(http://claycarson.net/fonts/ia_writer/iawriterduospace-bolditalic-webfont.woff2) format("woff2"), url(http://claycarson.net/fonts/ia_writer/iawriterduospace-bolditalic-webfont.woff) format("woff");
// 	font-weight: 300;
// 	font-style: normal
// }
// @font-face {
// 	font-family: ia_writer_duospaceregular;
// 	src: url(http://claycarson.net/fonts/ia_writer/iawriterduospace-regular-webfont.woff2) format("woff2"), url(http://claycarson.net/fonts/ia_writer/iawriterduospace-regular-webfont.woff) format("woff");
// 	font-weight: 300;
// 	font-style: normal
// }
// @font-face {
// 	font-family: ia_writer_duospaceitalic;
// 	src: url(http://claycarson.net/fonts/ia_writer/iawriterduospace-regularitalic-webfont.woff2) format("woff2"), url(http://claycarson.net/fonts/ia_writer/iawriterduospace-regularitalic-webfont.woff) format("woff");
// 	font-weight: 300;
// 	font-style: normal
// }

$root-font-family: Helvetica, Arial, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;

$header-font-family: Helvetica, Arial, sans-serif;

$body-color: #2a2f35;
$body-bg: #f1f1f1;
$link-color: #d6534b;
$home-link-color: #2a2f35;

$border-color: #2a2f35;

$large-breakpoint: 38em;
$large-font-size: 16px;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #888;
