<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Location 679.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.72496301</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>A DEFINITION OF THE AMATEUR.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.51167297</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>A MARINE GETS TWO SALARIES.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.74879801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>A MODEL OF THE UNIVERSE.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.82782203</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>A PROFESSIONAL IS COURAGEOUS.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.67025</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>ADDICTED TO FAILURE.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.21851498</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>ADDICTED TO SEX.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.422777</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>ART AND ADDICTION.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.12230498</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>HABITS.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.09077102</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>HOW YOUR DAY CHANGES WHEN YOU TURN PRO.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.64644802</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>MY LIFE AS AN AMATEUR.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.06471503</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>MY YEAR OF TURNING PRO.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.45135701</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>PULLING THE PIN, PART TWO.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.149553</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>TAKE WHAT THE DEFENSE GIVES YOU.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.79474598</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>THE AMATEUR IS TERRIFIED.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.56940699</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>THE AMATEUR LIVES BY THE OPINIONS OF OTHERS.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.59249198</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>THE AMATEUR SEEKS PERMISSION.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.61747998</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>THE DEFINITION OF BORING.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.18517399</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>THE PROFESSIONAL DOES NOT GIVE HIS POWER AWAY TO OTHERS.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.69201201</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>THE PROFESSIONAL TRUSTS THE MYSTERY.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.77288699</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>Turning Pro- Tap Your Inner Power and Create Your Life's Work.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.03558201</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Vocabulary.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.894481</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>WHO IS ALL THIS FOR.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675770.85564899</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>23</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Turning Pro- Tap Your Inner Power and Create Your Life's Work.md</string>
		</array>
		<array>
			<string>MY LIFE AS AN AMATEUR.md</string>
		</array>
		<array>
			<string>HABITS.md</string>
		</array>
		<array>
			<string>ART AND ADDICTION.md</string>
		</array>
		<array>
			<string>PULLING THE PIN, PART TWO.md</string>
		</array>
		<array>
			<string>THE DEFINITION OF BORING.md</string>
		</array>
		<array>
			<string>ADDICTED TO FAILURE.md</string>
		</array>
		<array>
			<string>ADDICTED TO SEX.md</string>
		</array>
		<array>
			<string>MY YEAR OF TURNING PRO.md</string>
		</array>
		<array>
			<string>A DEFINITION OF THE AMATEUR.md</string>
		</array>
		<array>
			<string>THE AMATEUR IS TERRIFIED.md</string>
		</array>
		<array>
			<string>THE AMATEUR LIVES BY THE OPINIONS OF OTHERS.md</string>
		</array>
		<array>
			<string>THE AMATEUR SEEKS PERMISSION.md</string>
		</array>
		<array>
			<string>HOW YOUR DAY CHANGES WHEN YOU TURN PRO.md</string>
		</array>
		<array>
			<string>A PROFESSIONAL IS COURAGEOUS.md</string>
		</array>
		<array>
			<string>THE PROFESSIONAL DOES NOT GIVE HIS POWER AWAY TO OTHERS.md</string>
			<string>%% Location 679.md</string>
		</array>
		<array>
			<string>A MARINE GETS TWO SALARIES.md</string>
		</array>
		<array>
			<string>THE PROFESSIONAL TRUSTS THE MYSTERY.md</string>
		</array>
		<array>
			<string>TAKE WHAT THE DEFENSE GIVES YOU.md</string>
		</array>
		<array>
			<string>A MODEL OF THE UNIVERSE.md</string>
		</array>
		<array>
			<string>WHO IS ALL THIS FOR.md</string>
		</array>
		<array>
			<string>Vocabulary.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>24</integer>
		</dict>
	</dict>
</dict>
</plist>
