<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>CHAPTER EIGHT- Rise to the Occasion.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675773.82635301</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>CHAPTER FIVE- Failure Can Make You Stronger.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675773.804106</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>CHAPTER ONE- Start Your Day with a Task Completed.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675773.78117901</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Make Your Bed- Little Things That Can Change Your Life...And Maybe the World.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675773.74876797</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Make Your Bed- Little Things That Can Change Your Life...And Maybe the World.md</string>
		</array>
		<array>
			<string>CHAPTER ONE- Start Your Day with a Task Completed.md</string>
		</array>
		<array>
			<string>CHAPTER FIVE- Failure Can Make You Stronger.md</string>
		</array>
		<array>
			<string>CHAPTER EIGHT- Rise to the Occasion.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
