<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Page 14 · %% Location81.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.99197298</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>%% Page 16 · %% Location89.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.00843602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>%% Page 20 · %% Location104.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.02348697</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>%% Page 27 · %% Location128.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.03980702</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>%% Page 28 · %% Location130.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.05901301</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>%% Page 30 · %% Location145.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.07454002</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>%% Page 35 · %% Location170.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.09387702</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>%% Page 48 · %% Location227.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.11156899</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>%% Page 48 · %% Location229.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.12778801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>%% Page 5 · %% Location41.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.81984198</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>%% Page 64 · %% Location282.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.14333999</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>%% Page 7 · %% Location51.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.97474599</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>%% Page 78 · %% Location325.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.15876299</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>%% Page 94 · %% Location396.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.17362601</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Steal Like an Artist- 10 Things Nobody Told You About Being Creative.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.79980999</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Steal Like an Artist- 10 Things Nobody Told You About Being Creative.md</string>
		</array>
		<array>
			<string>%% Page 5 · %% Location41.md</string>
		</array>
		<array>
			<string>%% Page 7 · %% Location51.md</string>
		</array>
		<array>
			<string>%% Page 14 · %% Location81.md</string>
		</array>
		<array>
			<string>%% Page 16 · %% Location89.md</string>
		</array>
		<array>
			<string>%% Page 20 · %% Location104.md</string>
		</array>
		<array>
			<string>%% Page 27 · %% Location128.md</string>
		</array>
		<array>
			<string>%% Page 28 · %% Location130.md</string>
		</array>
		<array>
			<string>%% Page 30 · %% Location145.md</string>
		</array>
		<array>
			<string>%% Page 35 · %% Location170.md</string>
		</array>
		<array>
			<string>%% Page 48 · %% Location227.md</string>
		</array>
		<array>
			<string>%% Page 48 · %% Location229.md</string>
		</array>
		<array>
			<string>%% Page 64 · %% Location282.md</string>
		</array>
		<array>
			<string>%% Page 78 · %% Location325.md</string>
		</array>
		<array>
			<string>%% Page 94 · %% Location396.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>16</integer>
		</dict>
	</dict>
</dict>
</plist>
