<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>And one must take into account a definite cushioning effect exercising both by the law, and by the.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.24487001</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>As for the first, it is my brain-child. I knew that the Blockaltester of Block 44 was short of.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.319471</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>As the train, more tired than us, climbed towards the Italian frontier it snapped in two like an.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.36313498</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Besides good fortune, he also possessed another virtue essential for those places- an unlimited.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.095837</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>But everything in nature is balanced, there is no offense without defense, every poison has its.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.34366399</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>For living men, the units of time always have a value, which increases in ratio to the strength of.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.26739001</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>If This is a Man and The Truce.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.04347402</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>In conclusion- theft in Buna, punished by the civil direction, is authorized and encouraged by the.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.20999199</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>It grieves me now that I have forgotten his plain, outspoken words, the words of ex-sergeant.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.18727601</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>It is lucky that it is not windy today. Strange, how in some way one always has the impression of.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.29506201</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Many people - many nations - can find themselves holding, more or less wittingly, that ‘every.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.12232399</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Nothing belongs to us any more; they have taken away our clothes, our shoes, even our hair; if we.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.07268399</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Only a profound amazement- how can one hit a man without anger.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.14587402</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Sooner or later in life everyone discovers that perfect happiness is unrealizable, but there are.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.16511798</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>If This is a Man and The Truce.md</string>
		</array>
		<array>
			<string>Nothing belongs to us any more; they have taken away our clothes, our shoes, even our hair; if we.md</string>
		</array>
		<array>
			<string>Besides good fortune, he also possessed another virtue essential for those places- an unlimited.md</string>
		</array>
		<array>
			<string>Many people - many nations - can find themselves holding, more or less wittingly, that ‘every.md</string>
		</array>
		<array>
			<string>Only a profound amazement- how can one hit a man without anger.md</string>
		</array>
		<array>
			<string>Sooner or later in life everyone discovers that perfect happiness is unrealizable, but there are.md</string>
		</array>
		<array>
			<string>It grieves me now that I have forgotten his plain, outspoken words, the words of ex-sergeant.md</string>
		</array>
		<array>
			<string>In conclusion- theft in Buna, punished by the civil direction, is authorized and encouraged by the.md</string>
		</array>
		<array>
			<string>And one must take into account a definite cushioning effect exercising both by the law, and by the.md</string>
		</array>
		<array>
			<string>For living men, the units of time always have a value, which increases in ratio to the strength of.md</string>
		</array>
		<array>
			<string>It is lucky that it is not windy today. Strange, how in some way one always has the impression of.md</string>
		</array>
		<array>
			<string>As for the first, it is my brain-child. I knew that the Blockaltester of Block 44 was short of.md</string>
		</array>
		<array>
			<string>But everything in nature is balanced, there is no offense without defense, every poison has its.md</string>
		</array>
		<array>
			<string>As the train, more tired than us, climbed towards the Italian frontier it snapped in two like an.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
