<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Page 163 · Location 1667.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.14794397</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>%% Page 45 · Location 503.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.94901502</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>%% Page 53 · Location 582.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.99743098</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Day 10- The Honor Code.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.04964</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Day 13- Sick Fuck Friday.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.07421201</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>Day 14- Fireman’s Carry.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.10037601</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Day 17- Suicide Bombers.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.12323302</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Day 21- One Rep at a Time.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.17559302</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Day 26- Primary Target.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.19840097</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Day 27- 1,000 Push-ups.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.22481799</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>Day 3- My Nuts.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.896743</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Day 4- Fitness Test.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.92599201</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Day 5- Escape Vehicle.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.97550499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Day 9- Oxygen Deprivation.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.02597201</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Epigraph.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.87120098</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Living with a SEAL- 31 Days Training with the Toughest Man on the Planet Itzler, Jesse.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.84278899</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Living with a SEAL- 31 Days Training with the Toughest Man on the Planet Itzler, Jesse.md</string>
		</array>
		<array>
			<string>Epigraph.md</string>
		</array>
		<array>
			<string>Day 3- My Nuts.md</string>
		</array>
		<array>
			<string>Day 4- Fitness Test.md</string>
			<string>%% Page 45 · Location 503.md</string>
		</array>
		<array>
			<string>Day 5- Escape Vehicle.md</string>
			<string>%% Page 53 · Location 582.md</string>
		</array>
		<array>
			<string>Day 9- Oxygen Deprivation.md</string>
		</array>
		<array>
			<string>Day 10- The Honor Code.md</string>
		</array>
		<array>
			<string>Day 13- Sick Fuck Friday.md</string>
		</array>
		<array>
			<string>Day 14- Fireman’s Carry.md</string>
		</array>
		<array>
			<string>Day 17- Suicide Bombers.md</string>
			<string>%% Page 163 · Location 1667.md</string>
		</array>
		<array>
			<string>Day 21- One Rep at a Time.md</string>
		</array>
		<array>
			<string>Day 26- Primary Target.md</string>
		</array>
		<array>
			<string>Day 27- 1,000 Push-ups.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>17</integer>
		</dict>
	</dict>
</dict>
</plist>
