<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Page 133 · Location 1679.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.246095</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>%% Page 137 · Location 1725.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.556678</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>%% Page 137 · Location 1728.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.63889599</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>%% Page 19 · Location 377.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.44019198</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>%% Page 2 · Location 214.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.33367199</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>%% Page 21 · Location 400.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.46958202</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>%% Page 21 · Location 405.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.64380199</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>%% Page 26 · Location 463.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.71675003</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>%% Page 27 · Location 468.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.458417</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>%% Page 3 · Location 232.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.360156</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>%% Page 46 · Location 699.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.86337698</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>%% Page 48 · Location 722.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.88971299</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>%% Page 48 · Location 728.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.914419</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>%% Page 49 · Location 735.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.93862599</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>%% Page 50 · Location 754.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.96204501</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>%% Page 77 · Location 1069.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.496907</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>%% Page 77 · Location 1076.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.07865399</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>%% Page 8 · Location 293.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.38821501</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>%% Page 82 · Location 1133.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.13051498</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>%% Page xxv · Location 190.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.28541398</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>BECOME A STUDENT.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.80527502</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>BEWARE THE DISEASE OF ME.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.20945799</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>DON’T BE PASSIONATE.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.83649999</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Ego Is the Enemy.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.42753798</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>FOLLOW THE CANVAS STRATEGY.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.996687</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>Fight Club MOMENTS.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.58534402</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>GET OUT OF YOUR OWN HEAD.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.054654</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>INTRODUCTION.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.30978501</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>MANAGING YOURSELF.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.181059</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>MEDITATE ON THE IMMENSITY.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.61361301</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>PART I- ASPIRE.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.416394</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>PART II- SUCCESS.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.15547001</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>PART III- FAILURE.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.28025901</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>RESTRAIN YOURSELF.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.02235699</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>TALK, TALK, TALK.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.67848903</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>THE DANGER OF EARLY PRIDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.52438498</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>THE EFFORT IS ENOUGH.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.30992103</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>THE PAINFUL PROLOGUE.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.25735903</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>TO BE OR TO DO.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675766.776169</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>Vocabulary.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.36214602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>WORK, WORK, WORK.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675767.10698199</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>26</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>THE PAINFUL PROLOGUE.md</string>
			<string>%% Page xxv · Location 190.md</string>
		</array>
		<array>
			<string>INTRODUCTION.md</string>
			<string>%% Page 2 · Location 214.md</string>
			<string>%% Page 3 · Location 232.md</string>
			<string>%% Page 8 · Location 293.md</string>
		</array>
		<array>
			<string>PART I- ASPIRE.md</string>
			<string>%% Page 19 · Location 377.md</string>
			<string>%% Page 21 · Location 400.md</string>
			<string>%% Page 21 · Location 405.md</string>
		</array>
		<array>
			<string>TALK, TALK, TALK.md</string>
			<string>%% Page 26 · Location 463.md</string>
		</array>
		<array>
			<string>TO BE OR TO DO.md</string>
		</array>
		<array>
			<string>BECOME A STUDENT.md</string>
		</array>
		<array>
			<string>DON’T BE PASSIONATE.md</string>
			<string>%% Page 46 · Location 699.md</string>
			<string>%% Page 48 · Location 722.md</string>
			<string>%% Page 48 · Location 728.md</string>
			<string>%% Page 49 · Location 735.md</string>
			<string>%% Page 50 · Location 754.md</string>
		</array>
		<array>
			<string>FOLLOW THE CANVAS STRATEGY.md</string>
		</array>
		<array>
			<string>RESTRAIN YOURSELF.md</string>
		</array>
		<array>
			<string>GET OUT OF YOUR OWN HEAD.md</string>
		</array>
		<array>
			<string>%% Page 77 · Location 1076.md</string>
		</array>
		<array>
			<string>WORK, WORK, WORK.md</string>
			<string>%% Page 82 · Location 1133.md</string>
		</array>
		<array>
			<string>PART II- SUCCESS.md</string>
		</array>
		<array>
			<string>MANAGING YOURSELF.md</string>
		</array>
		<array>
			<string>BEWARE THE DISEASE OF ME.md</string>
			<string>%% Page 133 · Location 1679.md</string>
		</array>
		<array>
			<string>PART III- FAILURE.md</string>
		</array>
		<array>
			<string>THE EFFORT IS ENOUGH.md</string>
		</array>
		<array>
			<string>Vocabulary.md</string>
		</array>
		<array>
			<string>Ego Is the Enemy.md</string>
		</array>
		<array>
			<string>%% Page 27 · Location 468.md</string>
		</array>
		<array>
			<string>%% Page 77 · Location 1069.md</string>
		</array>
		<array>
			<string>THE DANGER OF EARLY PRIDE.md</string>
		</array>
		<array>
			<string>%% Page 137 · Location 1725.md</string>
		</array>
		<array>
			<string>Fight Club MOMENTS.md</string>
		</array>
		<array>
			<string>MEDITATE ON THE IMMENSITY.md</string>
		</array>
		<array>
			<string>%% Page 137 · Location 1728.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>42</integer>
		</dict>
	</dict>
</dict>
</plist>
