<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Location1005.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.51767302</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>%% Location1374.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.57851702</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>%% Location1605.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.640266</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>%% Location237.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.37603098</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>%% Location239.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.398772</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>%% Location307.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.44817197</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>%% Location394.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.47384602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>%% Location625.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.49455202</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>General Principles for the “Rest of Us” Lessons from Elite Athletics.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.60787398</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Programming the HKC.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.54810703</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>The Hardstyle Kettlebell Challenge- A Fundamental Guide To Training For Strength And Power.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.33244002</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>What is the HKC.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.35178202</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Why the HKC.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675775.42497897</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>528005117.93708903</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>The Hardstyle Kettlebell Challenge- A Fundamental Guide To Training For Strength And Power.md</string>
		</array>
		<array>
			<string>What is the HKC.md</string>
			<string>%% Location237.md</string>
			<string>%% Location239.md</string>
		</array>
		<array>
			<string>Why the HKC.md</string>
			<string>%% Location307.md</string>
			<string>%% Location394.md</string>
			<string>%% Location625.md</string>
			<string>%% Location1005.md</string>
		</array>
		<array>
			<string>Programming the HKC.md</string>
			<string>%% Location1374.md</string>
		</array>
		<array>
			<string>General Principles for the “Rest of Us” Lessons from Elite Athletics.md</string>
			<string>%% Location1605.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Sheets</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>14</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>8C92702A-2109-4D6C-B7C4-374610E241F6</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
