<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Page 26 · Location 304.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.53375602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>%% Page 52 · Location 507.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.80001098</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>%% Page 53 · Location 513.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.85028201</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>%% Page 53 · Location 517.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.58535302</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>%% Page 53 · Location 520.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.61309201</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>%% Page 54 · Location 525.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.88433599</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>%% Page 54 · Location 529.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.91305602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>%% Page 54 · Location 530.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.957461</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>%% Page 56 · Location 540.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.98645997</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>%% Page 59 · Location 565.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.04048401</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>%% Page 59 · Location 569.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.06323802</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>%% Page 60 · Location 574.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.08667499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>%% Page 60 · Location 577.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.108356</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>%% Page 60 · Location 580.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.63844103</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>%% Page 61 · Location 585.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.71426499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>%% Page 61 · Location 588.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.135059</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>%% Page 62 · Location 593.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.16054201</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>%% Page 64 · Location 609.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.19090199</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>%% Page 65 · Location 616.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.74209899</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>%% Page 70 · Location 654.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.26348299</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>%% Page 70 · Location 657.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.28714103</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>%% Page 75 · Location 699.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.33792597</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>%% Page 77 · Location 713.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.36627799</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>%% Page 80 · Location 730.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.41329801</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>Chapter Eight.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.71999401</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Chapter Eleven.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.23769897</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>Chapter Fifteen.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.774207</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>Chapter Fourteen.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.43885899</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>Chapter Nine.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.01487702</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Chapter Seven.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.50586402</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>Chapter Seventeen.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.798096</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>Chapter Ten.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.67278099</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>Chapter Thirteen.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.39204597</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>Chapter Three.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.68912601</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Chapter Twelve.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.31445998</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>The Greatest Salesman in the World.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.46737301</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>27</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Chapter Three.md</string>
		</array>
		<array>
			<string>Chapter Eight.md</string>
			<string>%% Page 52 · Location 507.md</string>
			<string>%% Page 53 · Location 513.md</string>
			<string>%% Page 54 · Location 525.md</string>
			<string>%% Page 54 · Location 529.md</string>
			<string>%% Page 54 · Location 530.md</string>
			<string>%% Page 56 · Location 540.md</string>
		</array>
		<array>
			<string>Chapter Nine.md</string>
			<string>%% Page 59 · Location 565.md</string>
			<string>%% Page 59 · Location 569.md</string>
			<string>%% Page 60 · Location 574.md</string>
			<string>%% Page 60 · Location 577.md</string>
			<string>%% Page 61 · Location 588.md</string>
			<string>%% Page 62 · Location 593.md</string>
		</array>
		<array>
			<string>%% Page 64 · Location 609.md</string>
		</array>
		<array>
			<string>Chapter Eleven.md</string>
			<string>%% Page 70 · Location 654.md</string>
			<string>%% Page 70 · Location 657.md</string>
		</array>
		<array>
			<string>Chapter Twelve.md</string>
			<string>%% Page 75 · Location 699.md</string>
			<string>%% Page 77 · Location 713.md</string>
		</array>
		<array>
			<string>Chapter Thirteen.md</string>
			<string>%% Page 80 · Location 730.md</string>
		</array>
		<array>
			<string>Chapter Fourteen.md</string>
		</array>
		<array>
			<string>The Greatest Salesman in the World.md</string>
		</array>
		<array>
			<string>Chapter Seven.md</string>
		</array>
		<array>
			<string>%% Page 26 · Location 304.md</string>
		</array>
		<array>
			<string>%% Page 53 · Location 517.md</string>
		</array>
		<array>
			<string>%% Page 53 · Location 520.md</string>
		</array>
		<array>
			<string>%% Page 60 · Location 580.md</string>
		</array>
		<array>
			<string>Chapter Ten.md</string>
		</array>
		<array>
			<string>%% Page 61 · Location 585.md</string>
		</array>
		<array>
			<string>%% Page 65 · Location 616.md</string>
		</array>
		<array>
			<string>Chapter Fifteen.md</string>
		</array>
		<array>
			<string>Chapter Seventeen.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>37</integer>
		</dict>
	</dict>
</dict>
</plist>
