<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Anything You Want- 40 Lessons for a New Kind of Entrepreneur.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.39446998</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Delegate or die- The self-employment trap.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.41377097</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Make it anything you want.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.600806</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Why I gave my company to charity.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675774.77014601</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Anything You Want- 40 Lessons for a New Kind of Entrepreneur.md</string>
		</array>
		<array>
			<string>Delegate or die- The self-employment trap.md</string>
		</array>
		<array>
			<string>Make it anything you want.md</string>
		</array>
		<array>
			<string>Why I gave my company to charity.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
