<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Page 10 · %% Location119.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.93684602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>%% Page 11 · %% Location120.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.99461597</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>%% Page 30 · %% Location260.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675773.34838301</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>%% Page 81 · %% Location650.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675773.27559602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>%% Page 85 · %% Location685.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675773.32347602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>%% Page 87 · %% Location702.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675773.24779499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>PART ONE.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.96368003</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>PART THREE.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675773.29920602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>The Warrior Ethos.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675772.90658802</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>The Warrior Ethos.md</string>
		</array>
		<array>
			<string>%% Page 10 · %% Location119.md</string>
		</array>
		<array>
			<string>PART ONE.md</string>
		</array>
		<array>
			<string>%% Page 11 · %% Location120.md</string>
		</array>
		<array>
			<string>%% Page 87 · %% Location702.md</string>
		</array>
		<array>
			<string>%% Page 81 · %% Location650.md</string>
		</array>
		<array>
			<string>PART THREE.md</string>
		</array>
		<array>
			<string>%% Page 85 · %% Location685.md</string>
		</array>
		<array>
			<string>%% Page 30 · %% Location260.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
