<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>%% Location 187.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.04870498</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>%% Location 532.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.99812597</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>%% Location 619.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.02388602</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>%% Location 801.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.11014998</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Chapter 1 OF THE ORIGIN AND DESIGN OF GOVERNMENT IN GENERAL, WITH CONCISE REMARKS ON THE ENGLISH.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.94564998</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Chapter 2 OF MONARCHY AND HEREDITARY SUCCESSION.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.97352803</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Chapter 3 THOUGHTS ON THE PRESENT STATE OF AMERICAN AFFAIRS.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.06920201</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Chapter 4 OF THE PRESENT ABILITY OF AMERICA, WITH SOME MISCELLANEOUS REFLECTIONS.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.09265798</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Common Sense- By Thomas Paine.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675764.88151503</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Vocabulary.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675765.13414299</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>11</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Common Sense- By Thomas Paine.md</string>
		</array>
		<array>
			<string>Chapter 1 OF THE ORIGIN AND DESIGN OF GOVERNMENT IN GENERAL, WITH CONCISE REMARKS ON THE ENGLISH.md</string>
		</array>
		<array>
			<string>Chapter 2 OF MONARCHY AND HEREDITARY SUCCESSION.md</string>
		</array>
		<array>
			<string>%% Location 532.md</string>
		</array>
		<array>
			<string>%% Location 619.md</string>
		</array>
		<array>
			<string>%% Location 187.md</string>
		</array>
		<array>
			<string>Chapter 3 THOUGHTS ON THE PRESENT STATE OF AMERICAN AFFAIRS.md</string>
		</array>
		<array>
			<string>Chapter 4 OF THE PRESENT ABILITY OF AMERICA, WITH SOME MISCELLANEOUS REFLECTIONS.md</string>
		</array>
		<array>
			<string>%% Location 801.md</string>
		</array>
		<array>
			<string>Vocabulary.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>11</integer>
		</dict>
	</dict>
</dict>
</plist>
