<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Book Two- The Monster Attacks- What Blogs Mean.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.23757499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Conclusion- So…Where to From Here.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.32295299</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Trust Me, I'm Lying- Confessions of a Media Manipulator.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.20392603</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Vocabulary.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.35823601</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>XIX The Myth of Corrections.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.268143</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>XXI The Dark Side of Snark- When Internet Humor Attacks.md</key>
			<dict>
				<key>lastModification</key>
				<real>528675768.29533499</real>
				<key>version</key>
				<dict>
					<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Trust Me, I'm Lying- Confessions of a Media Manipulator.md</string>
		</array>
		<array>
			<string>Book Two- The Monster Attacks- What Blogs Mean.md</string>
		</array>
		<array>
			<string>XIX The Myth of Corrections.md</string>
		</array>
		<array>
			<string>XXI The Dark Side of Snark- When Internet Humor Attacks.md</string>
		</array>
		<array>
			<string>Conclusion- So…Where to From Here.md</string>
		</array>
		<array>
			<string>Vocabulary.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>96f757d2380e72ada746f50df5b2f4a9a7a2acb3bd451a4656994d4272a54467</key>
			<integer>7</integer>
		</dict>
	</dict>
</dict>
</plist>
